<div class="container p-5 my-5 shadow" style="background-color: blanchedalmond;">

  <h1 class="text-center" style="font-weight: 700;">To Do List</h1>

  <div class="input-group mt-4 p-2 p-md-5">
    <input type="text" class="form-control" placeholder="Add Your List" #itemList>
    <button class="btn btn-outline-secondary" (click)="onAdd(itemList)">
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
  </div>

  <div>
    <ul class="px-2 px-md-5">
      <li class="d-flex p-3" *ngFor="let item of toDoListArray">

        <span (click)="onCheck(item.checked, item.$key)">
          <fa-icon *ngIf="item.checked" style="color: green;" [icon]="faCheck"></fa-icon>
          <fa-icon *ngIf="!item.checked" style="color: red;" [icon]="faCircle"></fa-icon>
        </span>

        <span class="w-100" [ngClass]="{'line-checked': item.checked}"> &nbsp; {{ item.title }}</span>

        <span (click)="onRemove(item.$key)">
          <fa-icon style="color: red;" [icon]="faTrash"></fa-icon>
        </span>

      </li>
    </ul>
  </div>
</div>